html {
  scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/*bootsrap model 4+error*/
.fade.in {
	opacity: 1;
  }
  .modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
  }
  .modal-backdrop.in {
	opacity: 0.5;
  }
/*-------------*/
.modal-body{
	color: #000000;
}
.alert{
	padding: 0;
	border: none;
}
/*scroll_bar*/

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p{
	font-size: 15px;
	font-weight: 300;
	line-height: 1.7em;
	color: #757575;
}
a{
	color: #000000;
}
a:hover{
	text-decoration: none;
	color: #07250a;
}
.form-control:focus {
  border-color: #008d0a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 138, 9, 0.6);
}
.n_slider{
	cursor: pointer;
	position: relative;
    display: inline-block;
	text-decoration: none;
	font-size: 1.1em;
	color: rgb(128, 128, 128);
	font-weight: 500;
	background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.815) 50%, rgba(0, 0, 0, 0.4) 50%);
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 500ms ease;
	-webkit-text-fill-color: rgba(0, 0, 0, 0.363)
}
.n_slider:hover{
	background-position: 0 100%;
	text-decoration: none;
}

/*ADMIN*/
.adm_submenu{
	background: #006e07;
	margin: 0 45px;
}

.b_adm_pnl #sidebar ul li a{
	font-weight: 600;
}
.b_adm_pnl{
	background: #000000;
	color: #008d0a;
}
.b_adm_pnl footer p, .b_adm_pnl .prof h2{
	color: #460000;
}
.b_adm_pnl #sidebar .footer a{
	color: 333;
}
.b_adm_pnl #sidebar .footer a:hover{
	color: #000000;
}

#sidebar.adm_pnl{
	background: #008d0a;
}


 /*
  .adm_navbar a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	position: relative;
	display: block;
  }

  .adm_navbar a:hover {
	color: #00be0d;
  }
*/
.adm_navbar {
	position: fixed;
	top: 0;
	width: 75%;
	transition: 0.5s;
	z-index: 9998;
  }
.adm_navbar img{
	  border-radius: 50%;
  }
.dropdown-menu{
	margin: 0.125rem  0 0 -35px;
}
.adm_navbar span{
	  font-size: 12px;
	  background-color: red;
	  position: absolute;
	  margin-left: -7px;
	  top: 6px;
	  color: #fff;
	  border: 1px solid red;
	  border-radius: 45%;
}
.adm_navbar a:hover span{
	  color: #fff;
}

.adm_body.adm_main{
	margin: 100px 20px;
}
.adm_main .adm_desc{
	text-align: center;
}
.adm_main .adm_desc img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.adm_main .adm_main_img {
	background-color: #fff;
}
.adm_main .adm_main_img img{
	width: 100%;
	opacity: 0.4;
}
.adm_main .input-group{
	padding-top: 125px;
}
.adm_body .form-control, .adm_body .custom-select{
	background-color: #294d2c7c;
	color: #008d0a;
}
.adm_body.adm_msg{
	margin: 5% 5%;
}
.adm_body{
	margin: 5% 15%;
}
.adm_btn{
	margin: 15px 0;
	border: 2px solid #008d0a;
	width: 100%;
	padding: 10px;
}
.adm_btn:hover{
	background-color: #008d0a;
	border: 2px solid #008d0a;
}
/* Side Bar*/

.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	width: 25%;
    background: rgba(0, 0, 0, 0.04);
	color: rgba(0, 0, 0, 0.596);
    transition: all 0.3s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    transition: all 0.5s ease;
    font-size: 16px;
    font-weight: 700;
}
#sidebar .sidebar-header h3{
    font-weight: 1000;
	font-size: 34px;
	color: #000000;
}


#sidebar .sidebar-header{
	text-align: center;
	padding: 50px;
}
#sidebar ul.components{
	text-align: center;
	padding: 20px 0;
}


#sidebar ul li a{
	position: relative;
    display: inline-block;
	padding: 10px;
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.4);
	overflow: hidden;
	background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.815) 50%, rgba(0, 0, 0, 0.4) 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 500ms ease;
	text-decoration: none;

}

#sidebar ul li a:hover{
	background-position: 0 100%;
}
#sidebar ul li.active a{
	background-color: #000000;
}

#sidebar .footer{
	padding: 20% 5% 5%;
	bottom: 400px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.6);
}
#sidebar .footer p{
	font-size: 15px;
}
#sidebar .footer .icn{
	margin-top: 30px;
}
#sidebar .footer a{
	color: rgba(0, 0, 0, 0.6);
	font-size: 15px;
	padding: 7px;
}
#sidebar .footer a:hover{
	color: #006007
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 3px;
	background-color: rgb(0, 0, 0);
	margin: 6px 0;
	transition: 0.4s;
  }

  .change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
  }
#content{
	width: 75%;
	float: right;
	min-height: 100vh;
    transition: all 0.5s ease;
}
#content.active{
    transform: translateX(270px);
    transition: all 0.5s ease;
}
#sidebarCollaps{
	margin-top: 10px;
	margin-left: 20px;
	cursor: pointer;
    position: fixed;
    opacity: 1;
    visibility: hidden;
	font-size: 30px;
	z-index: 9999;
}

@media (max-width: 992px) {
    #sidebarCollaps{
        opacity: 1;
        visibility: visible;
    }
    #sidebar {
		margin-left: -250px;
    }
    #sidebar.active {
		margin-left: 0;
		width: 270px;
    }
    #sidebarCollapse span {
        display: none;
	}
	#content {
		width: 100%;
	}
	.adm_navbar{
		width: 100%;
		transition: 0.5s;
	}
}
/*@media (min-width: 992px){
	#content {
		width: 75%;
	}
}*/
.main{
	height: 90vh;
}
.main_img img {
	background-size: cover;
	width: 100%;
	height: 100vh;
	opacity: 0.4;
	z-index: -1;
	position: absolute;
}
.prof{
	padding-top: 10%;
	text-align: center;
}
.prof h2{
	color: #757575;
}
.prof h1{
	font-weight: 700;
}
.prof p{
	padding: 30px;
}
.prof img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0 auto;
}

.box_body{
	text-align: left;
	margin-bottom: 70px;
}
.box_img{
	position: relative;
	width: 100%;
	height: 330px;
	margin-bottom: 20px;
}
.box_hd{
	color: #000000;
	font-size: 23px;
	font-weight: 700;
}
.box_desc{
	text-align: justify;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.auther{
	color: #006006c2;
	font-weight: 900;
	font-size: 17px;
}
.auther span{
	font-size: 15px;
	font-weight: 200;
	color: #000000;
	float: right;
}


.hd{
	text-align: center;
	font-weight: 700;
	padding: 100PX;
}
.box{
	text-align: center;
	margin: 50px 50px 50px;
}
.box .art_body{
	text-align: left;
}
.box_btn{
	padding-top: 20px;
	background-color: #0060068a;
}

.art{
	margin-bottom: 100px;
}
.art_img{
	position: relative;
	width: 500px;
	height: 400px;
}
.art_cat a{
	background-color: #0aff1b;
	font-weight: 600;
	text-transform: uppercase;
}
.art_hd{
	color: #000000;
	font-weight: 600;
}
.art_desc{
	padding-top: 15px;
	text-indent: 30px;
	text-align: justify;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}
.art_date{
	padding-top: 10px;
	color: #006006c2;
}
.like,.view,.comment{
	font-size: 15px;
	color: #0060068c;
	padding-right: 20px;
}
.box_body .view:hover{
	cursor: auto;
	color: #0060068c;
}
.like:hover{
	color: red;
}
.view:hover{
	cursor: auto;
	color: #006007;
}
/*buttons*/

.art_cont{
	margin-top: 20px;
	background-color: #006007;
	color: #fbfbfb;
	font-size: 16px;
	border: 1px solid #006007;
	transition: 0.5s;
}
.btn-success{
	background-color: #006007;
	color: #fbfbfb;
	font-size: 16px;
	border: 1px solid #006007;
	transition: 0.5s;
}
.art_cont:hover, .btn-success:hover{
	background-color: transparent;
	color: #006007;
	transition: 0.5s;
}
.btn-primary{
	font-size: 16px;
	transition: 0.5s;
}
.btn-primary:hover{
	background-color: transparent;
	color: #007bff;
	transition: 0.5s;
}
.btn-danger{
	background-color: #ff0019;
	font-size: 16px;
	transition: 0.5s;
}
.btn-danger:hover{
	background-color: transparent;
	color: #ff0019;
	transition: 0.5s;
}
/*MAIN SIDE*/
.srch{
	padding: 35px;
}
.main_side .btn-success{
	background-color: #006006;
}
.main_side .btn-success:hover{
	color: #0aff1b;
	background-color: #012c04;
}
.catg{
	padding-top: 70px;
	text-align: left;
	text-transform: uppercase;
}
.catH{
	text-transform: uppercase;
	text-align: left;
	padding: 20px;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 3px;
}
.catg .list-group a{
	font-size: 14px;
	color: #000000;
}
.catg span{
	float: right;
}
.pop{
	padding-top: 60px;
}
.pop_art{
	text-align: left;
	padding-bottom: 50px;
}
.pop_art img{
	margin-left: 20px;
	float: left;
	width: 100px;
	height: 100px;
}
.pop_art h1, .pop_art p{
	margin-left: 140px;
	font-size: 17px;
}
.pop_art p{
	font-size: 13px;
}

/*footer*/
#content footer{
	background-color: #006807;
	padding: 5%;
	color: #9c9c9c;
}
#content footer h5{
	padding-bottom: 25px;
	color: #fbfbfb;
	text-align: center;
}
#content footer p{
	color: #d1d1d1;
}
#content footer a{
	color: #d1d1d1;
}
#content footer a:hover{
	color: #fbfbfb;
}
#content footer .row{
	text-align: left;
}
#content footer img{
	width: 300px;
	height: 300px;
	border-radius: 25%;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15);
	border: 1px solid #006007;
}
#content footer .list-group-item{
	background-color: #006807;
}
#content .w-100{
    height: 100vh;
}

.about_p p{
	color: #333;
}
.about_c{
	margin-top: 5%;
	font-size: 30px;
	text-align: center;
}
.about_c a{
	padding-right: 25px;
}

.contact{
	padding: 70px;
}
.contact .hd{
	padding: 30px;
	padding-bottom: 70px;
}
.contact .fa{
	size: 200px;
	font-size: 200px;
}
.contact .inp input,.contact .inp textarea{
	margin-bottom: 3%;
}

.single_cat{
	color: #006006;
	font-size: 15px;
	position: absolute;
    top: 90px;
}
.art_single .container{
	padding: 0px 35px;
}
.art_single_img{
	float: left;
	width: 700px;
	height: 400px;
	margin: 20px 50px;
    margin: 5px 12px 12px 0px;
    border: 1px solid #006006;
}
.art_single p{
	text-align: justify;
	text-indent: 35px;
}
.art_single_cmt{
	padding: 0 25px;
}

.adm_hd{
	font-family: cursive;
}
.adm_side_img{
	position: absolute;
	opacity: 0.5;
	z-index: -2;

}
.gallery{
	margin: 50px;
	text-align: center;
}
.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 4px;
}
.column {
	-ms-flex: 30%;
	flex: 30%;
	max-width: 35%;
	padding: 0 4px;
}
.column img{
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
.card{
	width: 100%;
	margin-bottom: 30px;
}
.card .card-body span{
	float: right;
}